<div class="usa-grid">
  <div class="usa-width-one-half">
    <p>Feedback? Create an issue on the <a href="{{ site.repo_url }}">code repository</a> or email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
    <!--<p>Have an idea? Read our <a href="{{ site.repo_url }}/blob/CONTRIBUTING.md">contribution guidelines</a>.</p>-->
  </div>
  <div class="usa-width-one-half usa-end-row">
    <p>As a work of the United States government, this project is in the public domain. Copyright is also waved internationally via a CC0 1.0 waiver. </p>
    <p><a href="{{ site.repo_url }}/blob/master/LICENSE.md">Read More.</a></p>
  </div>
</div>
