{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <a href="{{site.repo_url}}/issues" class="btn btn-primary">Submit Issues Here</a>

<!--   <p class="intro">{{ site.subtitle }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a> -->

  <!-- <nav class="sidebar-nav" role="navigation"> -->
	<nav>
	<ul class="usa-sidenav-list">
		{% for link in site.navigation %}
		<li class="{% if page.title == link.text %}usa-current-section{% endif %}">
			<a href="{% if link.internal == true %}{{ site.baseurl }}/{% endif %}{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>
			{% if link.coll == true %}
				<button class="usa-sidenav-expand_subnav"
                    aria-expanded="{% if page.collection == link.collname %}true{% else %}false{% endif %}"
                    aria-controls="nav-collapsible-{{ forloop.index }}">+</button>
				{% assign collectionName = link.collname %}
				<ul class="nav-children" id="nav-collapsible-{{ forloop.index }}" aria-hidden="{% if page.collection == link.collname %}false{% else %}true{% endif %}">
				{% for child in site.[collectionName] %}
					<li class="group {% if page.title == child.title %}usa-current{% endif %}">
						<a href="{{ site.baseurl }}{{ child.url }}" title="{% if page.title == child.title %}Current Page {% else %}{{ child.title }}{% endif %}">{{ child.title }}</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		</li>
		{% endfor %}
    </ul>
  </nav>
</aside>
